<footer class="footer">
  <nav>
    <ul>
      <% if !admin_user? %>
        <li><%= link_to "About",  about_path %></li>
        <li><%= link_to "Contact", contact_path %></li>
      <% end %>
      <li><a href="https://github.com/alexvodnev89">Github</a></li>
    </ul>
  </nav>
</footer>